// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
    &[aria-theme="dark"] {
        background-color: $bg-dark;
        color: $white;
        $theme: "dark";
    }
}
