// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
$body-text: $dark;

body {
    color: $body-text;
    font-size: 0.9rem;

    &[aria-theme="dark"] {
        background-color: $bg-dark;
        color: $white;
        $theme: "dark";
        $body-bg: $bg-dark;
        $body-text: $white;
    }

    font-family: "Roboto", sans-serif;
}

.app-nav {
    background-color: $dark;
    width: 100%;
    box-shadow: 1px 2px $white;
    position: sticky;
    top: 0;
    height: 60px;

    &-content {
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;

        .left-bar {
            align-items: center;
            .create-btn {
            }

            .toggler {
                position: relative;
                &-checkbox {
                    opacity: 0;
                    position: absolute;

                    &:checked + .toggler-label .toggler-ball {
                        transform: translateX(24px);
                    }
                }

                &-label {
                    width: 50px;
                    height: 26px;
                    background-color: #111;
                    display: flex;
                    border-radius: 50px;
                    align-items: center;
                    justify-content: space-between;
                    padding: 5px;
                    position: relative;
                }

                &-ball {
                    width: 20px;
                    height: 20px;
                    background-color: white;
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    border-radius: 50%;
                    transition: transform 0.2s linear;
                }
            }
        }
    }
}

.questions {
    &-item {
        &-wrap {
            display: grid;
            grid-template-columns: 80px 1fr;

            & > div:first-of-type {
                background-color: aqua;
            }
        }

        &-title {
            font-weight: 500;
            font-size: 1.15rem;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-bottom: 0.5rem;
        }

        &-description {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}
